name: build

on: [push, pull_request]

jobs:
  ubuntu:
    runs-on: [ubuntu-latest]
    strategy:
      matrix:
        java: [11, 21]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'liberica'

      # These were here before me
      - run: sudo apt-get install nsis makeself
      - run: ant makeself
      - run: sudo out/qz-tray-*.run
      - run: /opt/qz-tray/qz-tray --version
      - run: ant nsis

      # Autotest stuff

      # Installing Node via the website commands, since the package is out-of-date?
      # https://nodejs.org/en/download
      - name: Install Node
        run: |
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
          \. "$HOME/.nvm/nvm.sh"
          nvm install 24
          node -v
          npm -v

      - name: Install Node Dependencies
        run: npm install
        working-directory: autotest

      - name: Run Autotest Script
        run: node test-run/start-tray.js
        working-directory: autotest

  macos:
    runs-on: [macos-latest]
    strategy:
      matrix:
        java: [11, 21]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'liberica'
      - run: brew install nsis makeself
      - run: ant pkgbuild
      - run: sudo installer -pkg out/qz-tray-*.pkg -target /
      - run: "'/Applications/QZ Tray.app/Contents/MacOS/QZ Tray' --version"
      - run: ant makeself
      - run: ant nsis

  windows:
    runs-on: [windows-latest]
    strategy:
      matrix:
        java: [11, 21]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'liberica'
      - run: choco install nsis
      - run: ant nsis
      - run: Start-Process -Wait ./out/qz-tray-*.exe -ArgumentList "/S"
      - run: "&'C:/Program Files/QZ Tray/qz-tray.exe' --wait --version|Out-Null"
